﻿@model IEnumerable<VisitorActionsViewModel>
@using LJ.ViewModels.Visitor;
@using LJ.Models.Visitor;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}




@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";


}

@section CurrentPageInfo
{

}


@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Admin HangFire</li>

            </ol>
        </div>
    </div>




    <div class="row">
        <div class=" col-xs-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="/Hangfire" name="foo" ></iframe>
</div>
            </div>
       

    </div>

    
}


@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}


@section Scripts {

}









