﻿@{
    Layout = null;
}

    <!DOCTYPE html>
    <html>
    <head>
       @* <script src="@Url.Content("~/Scripts/tiny_mce/tinymce.min.js")"></script>*@
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "#mytextarea"
            });
        </script>
    </head>
    <body>
        <h1>TinyMCE Getting Started Guide</h1>
        <form method="post">
            <textarea id="mytextarea"></textarea>
        </form>
    </body>
</html>
