﻿@model IEnumerable<LJ.Models.Visitor.ApplicationVisitor>
@using LJ.Models.Visitor;
@using LJ.ViewModels.Visitor;
@using System.Collections.Concurrent;
@using System.Web.Security;
@using System.Web;

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

    var visitors = Model.GroupBy(v => v.CountryName)
        .Select(h => new
        {
            CountryName = h.Key,
            CountryVisitors = h.GroupBy(hh => hh.IpAddress)
            .Select(hhh => new 
            {
                IpAddress = hhh.Key, 
                Visitors = hhh.GroupBy( g =>new { Key1 = g.UserId, Key2 = g.Anonymous})
                .Select(gg => new 
                     {                        
                         UserName =  gg.Key.Key1 == null?  null: gg.FirstOrDefault().User.UserName,
                         Anonymous= gg.Key.Key2, 
                         DateTimes = gg.Select(ggg =>ggg.SessionStarted)
                     })
             })
        });

}



@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">All Visitors for admin (under construction, )</li>

            </ol>
        </div>
    </div>



    @foreach ( var i in visitors)
    { 
    <div class="row">
          <div  class="col-xs-12">   <b>Country:</b> @i.CountryName</div>     
     </div>
        
    <div class="h-divider"></div>

        foreach (var ii in i.CountryVisitors)
        {  <div class="row">
                    <div class="col-xs-12" style="margin-top:20px;">   <b>IpAddress:</b> @ii.IpAddress</div>
                </div>
                 
                <div class="row">
               @foreach (var iii in ii.Visitors)
               { 
                  <div class="col-xs-12" style="margin-top:14px"><b>User:</b>  @(iii.UserName == null ? "" : iii.UserName)</div>
                  <div class="col-xs-12" style="margin-bottom:2px"><b>Anonymous:</b> @iii.Anonymous</div>
                   foreach (var iiii in iii.DateTimes)
                  {
                     <div class="col-md-4 col-xs-12 col-sm-6 ">@iiii</div>
                  }
               }

    </div>
    <div class="h-divider"></div>
    }
 }

}
        

@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}




@section Scripts {
    <!--  latitude/longitude -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <!--  map -->
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world-highres.js"></script>


    <!-- jquery template library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script type="text/html" id="tmpUsersInfo">
        <div class="col-xs-12" style="margin-top:16px;margin-bottom:20px;">
            <b>Visitors Total:</b>
            Authenticated <span style="background-color: rgb(128, 128, 128);" class="badge">${usersCount}</span>,
            Anonymous  <span style="background-color: rgb(128, 128, 128);" class="badge">${ananimousesCount}</span>
        </div>
        <hr />
        <div class="col-xs-1"><b>Visitor</b></div>
        <div class="col-xs-4"><b>Name</b></div>
        <div class="col-xs-7"><b>Location</b></div>
        {{each info}}
        <div class="col-xs-1">${parseInt(index) +1 }</div>
        <div class="col-xs-4"> {{if username == "Anonymous"}}${username}{{else}} <a href="/User/GetProfile/${username}">${username}</a>{{/if}}</div>
        <div class="col-xs-7">${city}, ${country_name}</div>
        {{/each}}
    </script>
}
       