﻿@model UserViewModel

@using LJ.Models.User;
@using LJ.Infrastructure;
@using LJ.ViewModels.User;

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section Styles
{   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="@Url.Content("~//Scripts/CropImages/css/ImageArea.css")" rel="stylesheet" />
}

@{
    var userImagesCount = Model.UserImages == null ? 0 : Model.UserImages.Count();
    var timeCreated = LJ.Infrastructure.Extensions.TimePassed(Model.Created);
}


@section CurrentPageInfo
{
 @Model.UserName, you are viewing your journal
}


@section MainContent{
@Html.Partial("_UserPanel", 
           new UserPanelInfo
           {
               VisitorUserName = Model.UserName,
               UserName = Model.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = Model.DefaultUserImageId,
               FriendGroups = Model.FriendGroups
               
           })

 <div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Model.UserName</a></li>
            <li ><a href="@Url.Action("GetProfile","User", new {id = Model.UserName})">Profile</a></li>
            <li class="active">Edit</li>

        </ol>
    </div>
</div> 
    <div class="row">
    <div class="col-md-12">
      
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6 ">
                           Personal info

                        </div>
                        <div class="col-md-6 text-right">
                            <div>
                                <ul class="nav nav-pills pull-right">
                                    <li class="active"><a data-toggle="pill" href="#DisplayInfo">Display</a></li>
                                    <li><a data-toggle="pill" href="#EditInfo">Edit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="DisplayInfo" class="tab-pane fade in active">
                           
                            @if (true)
                            {

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.FirstName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.LastName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.LastName)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Country)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.Country)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.City)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(model => model.City)
                                    </div>
                                </div>

                            }

                        </div>
                        <div id="EditInfo" class="tab-pane fade">
                            @using (Html.BeginForm("SaveSectionInfo", "User", FormMethod.Post))
                            {  @Html.AntiForgeryToken()

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.FirstName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.FirstName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.LastName)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.LastName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Country)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Country)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.City)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.City)
                                        @Html.HiddenFor(model => model.UserName)
                                    </div>
                                </div>

                                <div class="col" style="padding:14px 0px 6px 0px;">
                                    <button id="buttonSavelInfo" type="submit" class="btn  btn-primary btn-s  pull-left" title="Save profile info">Save</button>
                                </div>

                            }
                        </div>
                </div>
            </div>
        </div>
        <br /><br /><br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.About)
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-pills pull-right">
                                <li class="active"><a data-toggle="pill" href="#DisplayAbout">Display</a></li>
                                <li><a data-toggle="pill" href="#EditAbout">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="tab-content">
                        <div id="DisplayAbout" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-xs-12">
                                    @Html.DisplayFor(model => model.About)
                                </div>
                                
                            </div>
                        </div>

                        <div id="EditAbout" class="tab-pane fade">
                            @using (Html.BeginForm("SaveSectionAbout", "User", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-xs-12">
                                    @Html.TextAreaFor(model => model.About, new { @class = "form-control", rows = 4 })
                                    @Html.HiddenFor(model => model.UserName)
                                </div>
                                <div class="col" style="padding:14px 0px 6px 0px;">
                                    <button id="buttonSaveAbout" type="submit" class="btn  btn-primary btn-s  pull-left" title="Save about section">Save</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        <br /><br /><br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            Userpics <span class="badge">@userImagesCount</span>
                        </div>
                        <div class="col-md-6 ">
                            <ul class="nav nav-pills pull-right">
                                <li class="active"><a data-toggle="pill" href="#DisplayImages">Display</a></li>
                                <li><a data-toggle="pill" href="#EditImages">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="DisplayImages" class="tab-pane fade in active">

                            <div class="row ">
                                <div class="col-xs-12 row-scroll ">
                                    @foreach (var i in Model.UserImages)
                                    {
                                        <div class="div-scroll-userpic-display" style="text-align:center;">
                                            <img class="userpic-size-md" src="@Url.Content("/Blog/GetImage/" + i.Id)">
                                        </div>
                                    }
                                </div>
                                </div>

                        </div>
                        <div id="EditImages" class="tab-pane fade">

                            @using (Html.BeginForm("SaveSectionUserpics", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {  @Html.AntiForgeryToken()
                                <input  name="DefaultIdOrder" id="DefaultIdOrder" type="hidden" value=-1 />
                                <div  class="row">
                                    <div class="col-xs-12 row-scroll" id="divRowScroll">
                                        @foreach (var i in Model.UserImages)
                                        {
                                            <div class="div-scroll-userpic" style="text-align:center;">
                                                <div class="div-userpics-padding">
                                                    <div class="div-userpic-layout">
                                                        <img class="userpic-size" src="@Url.Content("/Blog/GetImage/" + i.Id)" title="Image saved">
                                                    </div>
                                                </div>

                                                <input class="hidden-ids" id="Id" name="Id" type="hidden" value=@i.Id />
                                                <input class="hidden-defaults" name="IsDefaultId" type="hidden" value=@(i.Id== Model.DefaultUserImageId? 1:0) />

                                                @Html.Hidden("NewImageId", 0, new { @class = "hidden-new-ids" })
                                                <div class="divImageMenu">
                                                    <span title=" make image fist " class="icons-upload-image-menu makeFirstImage glyphicon glyphicon-fast-backward"></span>
                                                    <span title=" move image left " class="icons-upload-image-menu moveLeft glyphicon glyphicon-step-backward"></span>
                                                    <span title=" make image main " class="icons-upload-image-menu makeMainImage @(Model.DefaultUserImageId == i.Id ? "setMainImage glyphicon glyphicon-ok" : "glyphicon glyphicon-minus")"></span>
                                                    <br class="visible-xs" />
                                                    <span title=" remove image" class="icons-upload-image-menu removeImage glyphicon glyphicon-remove"></span>
                                                    <span title=" move image right " class="icons-upload-image-menu moveRight glyphicon glyphicon-step-forward"></span>
                                                    <span title=" make  image last " class="icons-upload-image-menu makeLastImage glyphicon glyphicon-fast-forward"></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                 </div>

                                <div class="col-xs-12 " style="padding:14px 0px 6px 0px;margin-bottom:35px;">

                                    <div class="btn-group">
                                        <button id="buttonSaveUserpics" type="button" class="btn  btn-primary btn-s  pull-left" title="Save about section">Save</button>
                                    </div>
                                    <div class="btn-group">
                                        <button id="buttonToggle" type="button" class="btn  btn-default  btn-s  pull-left dropdown-toggle" title="Toggle cutting area">Cutting  area <span class="caret"></span></button>
                                    </div>
                                </div>

                                <div id="divCuttingArea" class="col well" style="margin-top:10px;">

                                    <div class="col ">
                                        <div class="btn-group">
                                            <label id="buttonFile" for="inputFile" class="btn  btn-default btn-xs" title="Add image from local file system">Local file</label>
                                        </div>
                                        <div class="btn-group">
                                            <button id="buttonUrl" type="button" class="btn  btn-default btn-xs" title="Add image from url address">Internet Url</button>
                                        </div>
                                        <div class="btn-group">
                                            <button id="buttonUpload" type="button" class="btn  btn-success btn-xs" title="Add clopped area">Upload</button>
                                        </div>
                                    </div>




                                    <div class="col" style="margin-bottom:10px;">
                                        <div id="previewCloppedImage" style="border:solid gray 1px;margin-top:12px; width: 52px; height: 52px; overflow: hidden;">
                                            <img src="@Url.Content("~/Content/UserImages/NoImage.jpg")" class="userpic-size">
                                        </div>
                                    </div>
                                    <div id="upload-cut">
                                        <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Content/UserImages/NoImage.jpg")" class="img-responsive"/>
                                    </div>

                                    <div>
                                        @Html.HiddenFor(model => model.UserName)
                                        @Html.HiddenFor(model => model.UserImage.X)
                                        @Html.HiddenFor(model => model.UserImage.Y)
                                        @Html.HiddenFor(model => model.UserImage.Width)
                                        @Html.HiddenFor(model => model.UserImage.Height)
                                    </div>


                                    <div id="divHiddenControls"></div>
                                    <div id="divInputFiles"><input id="inputFile" name="inputFile" type='file' /> </div>

                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}
                        
@section RightSideContent{
<div class="sidebar" >

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class=" glyphicon glyphicon-cog"></span> </a></li>
                <li class="active">Advertisement</li>

            </ol>
        </div>
    </div>

    @Html.Partial("_Ad", 3)

</div>  
 
}


@section Scripts
{   <!-- Scripts Level 1-->
    <!-- Validate -->
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <!-- jquery ddslick library -->
    <script src="/Scripts/Custom/JavaScript1.js"></script>

    <!-- LJ Upload Image -->
    <script src="@Url.Content("~/Scripts/CropImages/jquery/jquery.imgareaselect.js")"></script>
    <script src="@Url.Content("~/Scripts/userLJ/uploadimages.js")"></script>


    <!-- jquery template library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <!-- LJ Template for new UploadUserImage -->
    <script type="text/html" id="tmpUploadedUserImages">
        <div id="divUploadedImage${newImageId}">
            <input name="Id" type="hidden" value="0" />
            <input name="NewImageId" type="hidden" value="${newImageId}" />
            <input name="X" type="hidden" value="${x}" />
            <input name="Y" type="hidden" value="${y}" />
            <input name="Width" type="hidden" value="${w}" />
            <input name="Height" type="hidden" value="${h}" />
            <input name="Url" type="hidden" value="${url}" />
            <input name="ImageUploadTypeId" type="hidden" value="${imageUploadTypeId}" />
        </div>
    </script>


    <!-- LJ Template for new UserImage -->
    <script type="text/html" id="tmpUserImages">
        <div class="div-scroll-userpic">
            <div class="div-userpics-padding">
                <div class="div-userpic-layout"></div>
            </div>
            <div class="divImageMenu">
                <span title=" make image fist " class="icons-upload-image-menu makeFirstImage glyphicon glyphicon-fast-backward"></span>
                <span title=" move image left " class="icons-upload-image-menu moveLeft glyphicon glyphicon-step-backward"></span>
                <span title=" make image main " class="icons-upload-image-menu makeMainImage glyphicon glyphicon-minus"></span>
                <br class="visible-xs" />
                <span title=" remove image" class="icons-upload-image-menu removeImage glyphicon glyphicon-remove"></span>
                <span title=" move image right " class="icons-upload-image-menu moveRight glyphicon glyphicon-step-forward"></span>
                <span title=" make  image last " class="icons-upload-image-menu makeLastImage glyphicon glyphicon-fast-forward"></span>
                <input name="Id" type="hidden" value="0" class="hidden-ids" />
                <input name="NewImageId" type="hidden" value="${newImageId}" class="hidden-new-ids" />
                <input class="hidden-defaults" name="IsDefaultId" type="hidden" value=0 />
            </div>
        </div>
    </script>
}
