﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}




@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    //var friendArxivs = Model..OrderBy(p => p.Date);
    var user = Model.User;
    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);
    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();

   // var onlyThisDates = "['" + string.Join("','", (IEnumerable<string>)ViewBag.Dates) +"']";
   

    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups

           })

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Statistics by Posts (under construction)</li>

            </ol>
        </div>
    </div>
    

    <div class="row">
        <div class="  col-xs-12 col-md-4 col-sm-offset-4 text-left">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container2" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>
<hr />

<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container3" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>
<hr />
<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container4" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>
<hr />

}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 5)
}








@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>

        
        $(function () {
            $('#datetimepicker1').datetimepicker({ 
               format: 'MMMM YYYY ',
               defaultDate: new Date(),
               format: 'MMMM YYYY',
               maxDate: moment().endOf("month"),
             //  minDate: new Date("@Model.StartDateRange")
               
            });

            fnGetStatistics(0, 0);

            $("#datetimepicker1").on("dp.change", function (e) {
                fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
            });
        });


        //---------------------------------------
        function fnGetStatistics( month, year) {
            $.post("@Url.Action("GetPostsChart", "User", new { id = Model.User.UserName })", { month: month, year: year }, function (data) {

               
                var statisticsDate = moment([parseInt(data.year), parseInt(data.month) -1 ]).endOf("month");
                var statisticsMonthName = statisticsDate.format('MMMM');


               

                $('#container2').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },

                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'vertical',
                        labelFormatter: fnLabelFormatter
                       
                    },

                    tooltip : {
                        useHTML: true,
                        borderWidth: 2,
                        formatter: fnTooltipFormatter
                        
                    },
                    
                    title: {
                        text: 'Post Comments diagram  for ' + statisticsMonthName
                    },
                  /*  tooltip: {
                        pointFormat: '{series.name}: <b> {point.percentage:.1f}% ({point.y} comments)</b>'
                    },*/
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                           // size: 200,
                            //slicedOffset: 5,
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Post comments',
                        colorByPoint: true,
                        data: data.chart2data
                    }]
                });

                //-----------------------------
                $('#container3').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'vertical',
                        labelFormatter: fnLabelFormatter

                    },
                    title: {
                        text: 'Post likes diagram  for ' + statisticsMonthName
                    },
                    tooltip: {
                        useHTML: true,
                        borderWidth: 2,
                        formatter: fnTooltipFormatter

                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                           // size: 200,
                            margin:18,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Post Likes',
                        colorByPoint: true,
                        data: data.chart3data
                    }]
                });

                //-----------------------------
                $('#container4').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                       // marginTop: this.marginTop * 2,
                       // marginBottom: this.marginBottom *2,
                        type: 'pie'
                    },
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'vertical',
                    
                        labelFormatter: fnLabelFormatter

                    },
                    title: {
                        text: 'Post dislikes diagram  for ' + statisticsMonthName,
                        
                    },
                    tooltip: {
                        useHTML: true,
                        borderWidth: 2,
                        formatter: fnTooltipFormatter

                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                          //  size: 200,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Post Dislikes',
                        colorByPoint: true,
                        data: data.chart4data
                    }]
                });
                //--------------------------
            });
        }
        

        //----------------------------------------------
        function fnLabelFormatter() {
            var max = 30;
            var name = this.name;
            if ( width = $(window).width() < 400 && name.length > max)
            {
                var index = name.substring(0, max + 5).lastIndexOf(" ");
                               
                name = name.substring(0, index) + "<br/>" + name.substring(index, this.name.length);
                                
            }
            return name ;
        }

        //---------------------------------
        function fnStringFormatter(str) {
            var max = 30;
           
            if (width =  str.length > max) {
                var index = str.substring(0, max + 5).lastIndexOf(" ");

                str = str.substring(0, index) + "<br/>" + str.substring(index, str.length);

            }
            return str;
        }
        //------------------------------
        function fnTooltipFormatter() {                           
            return "<b>" +fnStringFormatter(this.point.name) + "</b><br/>" +
                this.series.name + " <span class='badge'>" +
                this.y + "</span><br/>Percentage  <span class='badge'>" + Number(this.percentage).toFixed(1) + "%</span>";
        }
        //---------------------------------
        function available(date) {
            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
            if ($.inArray(dmy, availableDates) != -1) {
                return true;
            } else {
                return false;
            }
        }
        //-----------------------------
    </script>
}




