﻿@model  IEnumerable<string>
@using LJ.ViewModels.User;
@using LJ.Models.Account;

@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

@section CurrentPageInfo
{

}

@{
    Random rnd = new Random();

   
}
@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Blogs</li>
            </ol>
        </div>
    </div>

   <div class="row" style="margin-top:15px;">
    <div class="col-xs-12 text-center">
        <ul class="pagination users-by-abc">
            <li><a href="@Url.Action("GetUsersByFirstLetter", "User", new {id = "A-Z"})" title="All users">A - Z</a></li>
            @foreach (var u in Model)
            {
                <li><a href="@Url.Action("GetUsersByFirstLetter", "User", new {id = u})">@u</a></li>

            }
        </ul>
   </div>
  </div>

<div class="row" style="margin-top:15px;" id="target-abc">
    <div class="col-md-1 col-xs-1 hidden-xs text-left"></div>
    <div class="col-md-3 col-xs-12 hidden-xs text-left"><b>Blog</b></div>
    <div class="col-md-5 col-xs-12 hidden-xs text-left"><b>User name</b></div>
    <div class="col-md-3 col-xs-12 hidden-xs text-left"><b>Location</b></div>
</div>

}

@section  FooterContent{


}

@section RightSideContent{
    <div class="row hidden-xs ">
        <div class="  col-xs-12 text-left hidden-xs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>

        @Html.Partial("_Ad", 2)
    </div>

}







@section Scripts {
 <!--Scripts  level 1 -->
<!-- jquery ui library -->
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<!-- jquery template library -->
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script>
        $(document).ready(function () {
            var target = $("#target-abc");
            var jqxhr = $.post("@Url.Action("GetUsersByFirstLetter", "User", new {id = "A-Z"})", function (data) {

                var newControl = $("#tmpUsersByABC").tmpl(data);
                target.after(newControl);
            })

            .fail(function (xhr, textStatus, errorThrown) {

                  alert("error<br/>" + xhr.responseText);
            });


            $(".users-by-abc li a").click(function (e) {
                    e.preventDefault();

                    var $this = $(this);

                    var jqxhr = $.post($this[0].href, function (data) {

                        var newControl = $("#tmpUsersByABC").tmpl(data);
                        $(".user-abc").remove();
                        target.after(newControl);
                    })

                    .fail(function (xhr, textStatus, errorThrown) {

                      alert("error<br/>" + xhr.responseText);
                    })

                });


        });
    </script>


<script type="text/html" id="tmpUsersByABC">
    {{each users}}
    <div class="row user-abc" style="margin-top:15px;">
        <div class="col-xs-12 col-sm-1 text-left">
            <span class="badge" style="background-color: gray;margin-bottom:10px;">${Index}</span>
        </div>
        <div class="col-md-3 col-xs-6 text-left">
            <img class="userpic-size-lg" src="/Blog/GetImage/${DefaultUserImageId}">
        </div>
        <div class="col-md-5 col-xs-6 text-left">
            <span class="glyphicon glyphicon-user"></span>
            <a href="/User/GetProfile/${UserName}">${UserName}</a><br>
            ${FirstName} ${LastName}
        </div>
        <div class="col-md-3 col-xs-6 text-left">
            ${City} ${Country} 
        </div>
    </div>
    <hr class="user-abc">
    {{/each}}
</script>
}



