﻿@model  IEnumerable<ApplicationUser>
@using LJ.Models.User;
@using LJ.Models.Account;


<div class="row" style="margin-top:15px;">

    @foreach (var u in Model)
    {
        <div class="col-xs-3  text-center"> 
            <img class="userpic-size-sm visible-xs" style="margin:3px;"
                 src="@(u.DefaultUserImage ==null ? Url.Content(" ~ /Content/UserImages/NoImage.jpg") : @Url.Content("/Blog/GetImage?id=" + u.DefaultUserImageId))">          
          <img class="userpic-size-md hidden-xs" style="margin:6px;"
                src="@(u.DefaultUserImage ==null ? Url.Content(" ~ /Content/UserImages/NoImage.jpg") : @Url.Content("/Blog/GetImage?id=" + u.DefaultUserImageId))">
        </div>                 
    }
</div>





